[submodule "vendor/SchwarzerblitzEngine"]
	path = vendor/SchwarzerblitzEngine
	url = https://github.com/AndreaJens/SchwarzerblitzEngine.git

[submodule "BannonSource"]
	path = BannonSource
	url = https://github.com/mhvnsnt/Bannon.git
